In [4]:
import pandas as pd
import altair as alt

In [16]:
#ww2 = pd.ExcelFile('statistic_id1342260_wwii_-number-of-people-mobilized-by-selected-countries-1937-1945.xlsx')
#ww2 = pd.read_excel(ww2, 'Data').fillna(0)
#ww2.head(31)
#

ww2 = pd.read_excel('statistic_id1342260_wwii_-number-of-people-mobilized-by-selected-countries-1937-1945.xlsx',sheet_name='Data',skiprows=4)
ww2.columns = ww2.columns.str.replace('Unnamed: 1', 'Country')
ww2 = ww2.loc[:,'Country':].fillna(0)
ww2.head(10)

         Country      Allied        Axis
0   Soviet Union  34476000.0         0.0
1        Germany         0.0  18100000.0
2  United States  16354000.0         0.0
3          China  14000000.0         0.0
4        Italy**         0.0   9100000.0
5          Japan         0.0   9100000.0
6  Great Britain   5896000.0         0.0
7         France   5000000.0         0.0
8          India   2581000.0         0.0
9         Poland   2000000.0         0.0