In [1]:
import pandas as pd
import altair as alt

C:\Users\henry\AppData\Roaming\Python\Python39\site-packages\pandas\core\computation\expressions.py:21: UserWarning: Pandas requires version '2.8.0' or newer of 'numexpr' (version '2.7.3' currently installed).
  from pandas.core.computation.check import NUMEXPR_INSTALLED
C:\Users\henry\AppData\Roaming\Python\Python39\site-packages\pandas\core\arrays\masked.py:62: UserWarning: Pandas requires version '1.3.4' or newer of 'bottleneck' (version '1.3.2' currently installed).
  from pandas.core import (

In [10]:
ww2 = pd.read_excel('statistic_id1342260_wwii_-number-of-people-mobilized-by-selected-countries-1937-1945.xlsx',sheet_name='Data',skiprows=4)
ww2.columns = ww2.columns.str.replace('Unnamed: 1', 'Country')
ww2 = ww2.loc[:,'Country':]
ww2.head(10)

         Country      Allied        Axis
0   Soviet Union  34476000.0         NaN
1        Germany         NaN  18100000.0
2  United States  16354000.0         NaN
3          China  14000000.0         NaN
4        Italy**         NaN   9100000.0
5          Japan         NaN   9100000.0
6  Great Britain   5896000.0         NaN
7         France   5000000.0         NaN
8          India   2581000.0         NaN
9         Poland   2000000.0         NaN