In [1]:
import pandas as pd
import altair as alt

C:\Users\henry\AppData\Roaming\Python\Python39\site-packages\pandas\core\computation\expressions.py:21: UserWarning: Pandas requires version '2.8.0' or newer of 'numexpr' (version '2.7.3' currently installed).
  from pandas.core.computation.check import NUMEXPR_INSTALLED
C:\Users\henry\AppData\Roaming\Python\Python39\site-packages\pandas\core\arrays\masked.py:62: UserWarning: Pandas requires version '1.3.4' or newer of 'bottleneck' (version '1.3.2' currently installed).
  from pandas.core import (

In [2]:
ww2 = pd.read_excel('statistic_id1342260_wwii_-number-of-people-mobilized-by-selected-countries-1937-1945.xlsx')
ww2.head(10)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,NaN,NaN,NaN,NaN,NaN
1,NaN,Statistic as Excel data file,NaN,NaN,NaN
2,NaN,Number of personnel mobilized by selected Axis...,NaN,NaN,NaN
3,NaN,Access data,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN
6,NaN,Source,NaN,NaN,Description
7,NaN,NaN,NaN,NaN,Over the course of the Second World War approx...
8,NaN,Source,"Various sources (Axworthy et al. (1995), Clerc...",NaN,NaN
9,NaN,Conducted by,Expert(s) (Lopez et al (2021)),NaN,NaN